.records {
  border-collapse: collapse; /* Collapses border between table cells */
  width: 80%; /* Adjusted for better responsiveness */
  max-width: 600px; /* Maximum width to ensure table doesn't get too wide */
  margin: auto; /* Center table on the page */
}

.records th, .records td {
  border: solid 1px #000; /* Adds border to each cell */
  padding: 8px; /* Adds some padding for text inside cells */
}

.records > thead {
  background-color: rgb(145, 145, 145); /* Header background color */
}

.records > tbody {
  background-color: rgb(192, 190, 190); /* Body background color */
  text-align: center; /* Centers text in cells */
}

@media (max-width: 600px) {
  .records {
    width: 100%; /* Full width on smaller screens to utilize available space */
  }
}




#recordForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 8px;
}

#recordForm label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

#recordForm input[type="text"] {
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#recordForm button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#recordForm button:hover {
  background-color: #0056b3;
}